body {
  background: linear-gradient(40deg, rgb(77, 77, 77), rgb(58, 58, 58));
}

header {
  position: static;
}

main ul {
  width: 800px;
  margin: 0 auto;
}

main li {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 4px rgb(0, 0, 0 0.2);
  border-radius: 6px;
  overflow: hidden;
}

main li img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}

.actions {
  margin: 80px 10px 0 320px;
}

.actions a {
  text-decoration: none;
  color: rgb(0, 122, 204);
  padding: 10px 10px;
  border-radius: 4px;
}

.actions a:hover {
  text-decoration: none;
  background-color: rgb(142, 212, 249);
}

.item-content {
  padding: 24px;
}
